{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier", "plugin:jsx-a11y/recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["prettier", "jsx-a11y", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "parserOptions": {
    "ecmaVersion": 2018
  }
}
